# Server Configuration
ADDRESS=localhost
PORT=8080
Environment=development
SERVER_READ_TIMEOUT=120s
SERVER_WRITE_TIMEOUT=120s
SERVER_SHUTDOWN_TIMEOUT=120s

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/werewolf_db?sslmode=disable
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MAX_IDLE_CONNS=5
DATABASE_CONN_MAX_LIFETIME=120s

# JWT Configuration
JWT_ACCESS_TOKEN_EXPIRY=24h
JWT_REFRESH_TOKEN_EXPIRY=168h
JWT_PRIVATE_KEY_PATH=store/private_key.pem
JWT_PUBLIC_KEY_PATH=store/public_key.pem

# Logging
LOG_LEVEL=debug
LOG_FORMAT=json
